*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   min-height: 100vh;
}

html{
   background: linear-gradient(90deg, #5CB7CC  0%,#2E5C66 100%);
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: 'ReadexPro', sans-serif;
    box-sizing: border-box; 
}

#header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   height: 60px;
   background: linear-gradient(90deg, #15BCB5, #4E92A4);
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 1;
 }
 
nav {
 width: 100%;
 max-width: 1200px;
 display: flex;
 justify-content: space-around;
 align-items: center;

}

.flashcard-container {
   position: relative;
}

.flashcard-container:hover .flashcard-list {
   display:block;
}

.flashcard-list {
   box-shadow: 2px 2px 2px rgba(3,3,3,0.4);
   margin-left: 10px;
   position: absolute;
   width: 180px;
   background: white;
   list-style: none;
   border-radius: 5px;
   top: 52px;
   display: none;
}




.flashcard-list_item, .account-list_item  {
  font-size: 1.5rem;
  position: relative;
}

.flashcard-list_item:first-child, .account-list_item:first-child  {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.flashcard-list_item:last-child , .account-list_item:last-child{
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}



.flashcard-list::after {
   content: "";
   position: absolute;
   left: 30px;
   top: -30px;
   border-radius: 5px;
   border-width: 16px 16px;
   border-style: solid;
   border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.flashcard-list_item:hover {
   background: rgb(231, 230, 230);
}





.flashcard-list_item-link {
   padding: 16px;
   display: flex;
   text-decoration: none;
   width: 100%;
}

.flashcard-list_item-link:hover {
   color: #086a65;
}

.flashcard-list_item-link:last-child {
   border-top: 1px solid #15BCB5;
}




.nav-item {
 display: block;
 font-size: 1.8rem;
 color: white;
 text-decoration: none;
 position: relative;
 font-weight: 600;
 padding: 10px;
}

.nav-item::after {
   content: '';
   display: block;
   background-color: aqua;
   height: 4px;
   border-radius: 2px;
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.3s;
}


.nav-item:hover::after {
   transform-origin: right;
   transform: scaleX(1);
}



.logo .logo-img{
   width: 60px;
   border-radius: 50%;
}

.account .acc-img{
   width: 50px;
   padding-left: 12px;
}

.account {
 display: flex;
 align-items: center;
 position: relative;
}

.account-list {
   box-shadow: 2px 2px 2px rgba(3,3,3,0.4);
   margin-left: 10px;
   position: absolute;
   width: 180px;
   background: white;
   list-style: none;
   border-radius: 5px;
   top: 52px;
   display: none;
}

.account-list::after {
   content: "";
   position: absolute;
   left: 30px;
   top: -30px;
   border-radius: 5px;
   border-width: 16px 16px;
   border-style: solid;
   border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.account:hover .account-list {
   display: block;
}




.account-list_item:first-child {
   border-bottom: 1px solid #15BCB5;
}



.account-list_item {
   font-size: 1.8rem;
   padding: 16px;

}

.account-list_item-link {
   color: #2E5C66;
   display: block;
   width: 100%;
   text-decoration: none;

}


.account-list_item:hover {
   color: #15BCB5;
   background: rgb(231, 230, 230);
}







