*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

/* Header */
  
 
/* end-header */




/* Container */



/* footer */

footer {
   background: #97b3c4;
   display: flex;
   flex-direction: column;
}

.footer-pre {
   height: 80px;
   background: #1374b02b;
   display: flex;
}

.footer-form {
   margin: auto;
   display: flex;
}

.label-letter { 
   display: block;
   font-size: 1.8rem;
   padding-right: 20px;
   align-self: center;
   color: rgb(134, 127, 127);
}

.input-box {
   background: #fff;
   padding: 10px;
   border-radius: 20px;
   box-shadow: 2px 2px 2px rgba(1,1,1,0.1);
   width: 80%;
   margin: 10px auto;
}


.input-letter {
   border: none;
   height: 40px;
   background: none;
   width: 300px;
   outline: none;
   font-size: 1.8rem;
}



.footer-container {
   height: 200px;
   border-top: 2px solid #fff;
   display: flex;
   background: linear-gradient(90deg, #15BCB5, #4E92A4);
}

.input-letter-btn{
   border: none;
   background: none;
}

.input-letter-btn i {
   font-size: 2.6rem;
   padding-right: 5px;
}

.footer_content {
   height: 100%;
   width: 80%;
   margin: 0 auto;
   background-color: aliceblue;
   border-top: 2px solid #97b3c4 ;
   display: flex;
   border-radius: 20px;
}

.footer_content_block {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.footer_content_block-text {
   flex: 1;
}

.footer_content_block-img {
   flex: 1;
   display: flex;
   justify-content: center;
}


.footer_content_block-img-item {
   width: 150px;
   border-radius: 12px;
   display: block;
}



.footer_content-title {
   padding-top: 20px;
   text-align: center;
   font-size: 2rem;
   color: #2a5d6b;
}

.footer_content-item {
   flex: 1;
   width: 100%;
}

.footer_content-info-list {
   list-style: none;
   display: flex;
   justify-content: center;
}

.footer_content-info-item {
   padding: 10px  20px;
   font-size: 2.8rem;

}

.footer_content-info-item i {
   color: #2a5d6b;
}

.footer_content-info-item i:hover {
   color: #56abc3;
}

.footer_content-info-writer {
   list-style: none;
}

.footer_content-info-writer-item {
   display: block;
   width: 100%;
   text-align: center;
   font-size: 1.8rem;
   padding-top: 10px;
   color: #2a5d6b;
}










