
.container_sign-in {
    display: flex;
    height: 100vh;
    animation: appear linear .2s ;
    
}

.register_content {
    margin: auto;
    height: 500px;
    width: 60%;
    background: linear-gradient(90deg, #2E5C66  0%,#2f7281 100%);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 20px 0;
   
    
}



.register_content-item {
    flex: 1;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_content-item-left {
    animation: slide-left linear .5s;
}

.register_content-item-right {
    animation: slide-right linear .5s;
}



.register_content-item:first-child {
    border-right: 2px solid #bcb9b9; 
}

.content_img {
    display: block;
}


.content_img-item {
    margin: 60px 25% 0;
    width: 50%;
    border-radius: 20px;
}


.content_text {
    margin-top: 5%;
}

.content_text-des {
    color: #fff;
    opacity: 0.3;
    font-weight: 200;
    font-size: 1.8rem;
    text-align: center;
}

.content_text-title {
    opacity: 0.9;
    margin-top: 10%;
    text-align: center;
    font-size: 5rem;
    color: #ffffff;
    letter-spacing: 20px;
}


.form_title {
    margin-top: 60px;
    text-align: center;
    color: #ffffff;
    opacity: 0.9;
    font-size: 3rem;
    letter-spacing: 4px;
}


/* Form */

.get-info-form {
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_name, .get_password {
    color: #fff;
    width: 80%;
    display: block;
    border: none;
    margin-bottom: 50px;
    outline: none;
    font-size: 1.8rem;
    background: none;
    border-bottom: 2px solid #a2d5e0;
}

.user_name::placeholder, .get_password::placeholder {
    color: #cfcccc;
}

.form-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.get-info_btn {
    font-size: 1.6rem;
    color: white;
    display: block;
    padding: 20px;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    min-width: 120px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.forgot_password {
     margin-top: 30px;
}

.forgot_password-link {
    color: #cfcccc;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.get-info_link {
    text-decoration: none;
    color: white;
}






@keyframes appear {
    from {
        transform: translateY(-500px);
        opacity: 0; 
        scale: 0.5; 
    }

    to {
        transform: translateY(30px);
        opacity: 1;
        scale: 1;
    };
}

@keyframes slide-left {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}












